@import "tailwindcss";

:root[data-theme='dark'] {
  --background: #27187e;
  --primary: #758bfd;
  --tertiary: #F5E663;
  --secondary: #aeb8fe;
  --white: #f1f2f6;
  --error: #F29195;
  --success: #53DD6C;
}

:root[data-theme='light'] {
  --background: #f1f2f6;
  --primary: #758bfd;
  --tertiary: #FDA066;
  --secondary: #aeb8fe;
  --white: #27187e;
  --error: #FEC3C6;
  --success: #53DD6C;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
}

html {
  scroll-behavior: smooth;
}

@theme{
  --breakpoint-xs: 375px;
  --breakpoint-xs-max:385px;
  --breakpoint-3xl: 2560px;
  --breakpoint-4xl: 3840px;
}

@keyframes float {
          0%, 100% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-10%);
          }
        }
        .animate-float {
          animation: float 3s ease-in-out infinite;
        }
@keyframes glowPulse {
  0%, 100% {
    box-shadow:
      0 0 12px 3px var(--tertiary),
      0 0 22px 6px rgba(0, 255, 255, 0.35),
      0 0 32px 12px rgba(0, 255, 255, 0.25);
  }
  50% {
    box-shadow:
      0 0 16px 4px var(--tertiary),
      0 0 26px 8px rgba(0, 255, 255, 0.45),
      0 0 36px 14px rgba(0, 255, 255, 0.4);
  }
}

@keyframes glowPulseBlue {
  0%, 100% {
    box-shadow:
      0 0 12px 3px var(--secondary),
      0 0 22px 6px rgba(0, 255, 255, 0.35),
      0 0 32px 12px rgba(0, 255, 255, 0.25);
  }
  50% {
    box-shadow:
      0 0 16px 4px var(--secondary),
      0 0 26px 8px rgba(0, 255, 255, 0.45),
      0 0 36px 14px rgba(0, 255, 255, 0.4);
  }
}


.glow {
  animation: glowPulse 6s ease-in-out infinite;
  box-shadow:
    0 20px 25px -5px var(--tertiary),
    0 10px 10px -5px var(--white);
  position: relative;
  z-index: 0;
}

.glowblue {
  animation: glowPulseBlue 6s ease-in-out infinite;
  box-shadow:
    0 20px 25px -5px var(--secondary),
    0 10px 10px -5px var(--white);
  position: relative;
  z-index: 0;
}

.glowblue::before {
  content: "";
  position: absolute;
  top: -15px;
  bottom: -15px;
  left: -15px;
  right: -15px;
  z-index: -1;
  border-radius: 24px;
  filter: blur(20px);
  animation: glowPulse 3s ease-in-out infinite;
}

.glow::before {
  content: "";
  position: absolute;
  top: -15px;
  bottom: -15px;
  left: -15px;
  right: -15px;
  z-index: -1;
  border-radius: 24px;
  filter: blur(20px);
  animation: glowPulse 3s ease-in-out infinite;
}

html, body {
  overflow-x: hidden;
}