@import "tailwindcss";

:root[data-theme='light'] {
  --background: #EBAD9B;
  --primary: #8529CC;
  --secondary: #B353FC;
}

:root[data-theme='dark'] {
  --background: #4F4A52;
  --primary: #E86F1C; /* même ou ton adapté */
  --secondary: #EBB46A;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
